<div class="card h-100">
    <a [routerLink]="['/product-detail', product.productId]">
      <img [src]="product.ProductImg" class="card-img-top img-fluid" alt="{{product.productName}}">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text">{{product.productPrice | currency}}</p>
      <p class="card-text">{{product.productDescription}}</p>
      <div class="d-flex justify-content-between">
        <!-- <button class="btn btn-primary" (click)="addtoCartItems(product)">Add to Cart</button> -->
        <!-- <a class="btn btn-outline-primary" [routerLink]="['/product-detail', product.id]">Buy Now</a> -->
      </div>
    </div>
  </div>
  