<div class="card h-100">
    <a [routerLink]="['/product-detail', product.id]">
      <img src="{{product.productImg}}" class="card-img-top img-fluid" alt="{{product.name}}">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.price | currency}}</p>
      <p class="card-text">{{product.description}}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="addtoCartItems(product)">Add to Cart</button>
        <a class="btn btn-outline-primary" [routerLink]="['/product-detail', product.id]">Buy Now</a>
      </div>
    </div>
  </div>
  